body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0px;
    padding: 0px;
}

.category-container {
    max-width: 420px;
    margin: auto;
    padding: 20px;
}

/* BREADCRUMB */

.breadcrumb {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

/* TITLE */

.category-title {
    font-size: 30px;
    font-weight: 400;
    font-weight: bold;
    margin-bottom: 20px;
}

/* TOP SECTION */

.category-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter {
    text-decoration: underline;
    cursor: pointer;
}

/* PRODUCT CARD */

.product-card {
    margin-bottom: 30px;
}

.product-img {
    position: relative;
}

.product-img img {
    width: 100%;
    border-radius: 5px;
}

/* DISCOUNT */

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #7aa7b1;
    color: black;
    padding: 6px 12px;
    font-size: 14px;
}

/* PRODUCT TITLE */

.product-card h3 {
    font-weight: 400;
    margin-top: 12px;
}

/* PRICE */

.price {
    font-size: 18px;
}

.old {
    text-decoration: line-through;
    color: #777;
    margin-right: 8px;
}

/* HERO TEXT */

.hero-text {
    position: absolute;
    bottom: 40px;
    right: 20px;
    font-size: 30px;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.logo {
    font-size: 22px;
    font-weight: 500;
}

.left-icons i,
.right-icons i {
    margin: 0 8px;
    cursor: pointer;
}


/* FOOTER */

footer {
    background: #d8cbb5;
    padding: 40px;
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 15px;
    font-size: 18px;
}

.right-icons {
    display: flex;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

#cartCount {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

/* TOP BAR */

.top-bar {
    text-align: center;
    padding: 10px;
    background: #d8cbb5;
    font-size: 14px;
}



.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background: #fff;
    z-index: 9999;
    transition: 0.3s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
}

/* HEADER */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-icon {
    width: 45px;
    height: 45px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-header h3 {
    margin: 0;
    font-size: 18px;
}

.sidebar-header p {
    margin: 2px 0 0;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
}

/* MENU */
.menu {
    padding: 10px 20px;
}

.menu-title {
    font-size: 13px;
    color: gray;
    margin: 10px 0;
}

/* ITEM */
.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 0;
    font-size: 16px;
    cursor: pointer;
}

/* ICON CIRCLE */
.icon {
    width: 40px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOVER */
.menu-item:hover {
    background: #f9f9f9;
    border-radius: 10px;
    padding-left: 10px;
}

/* LOGOUT */
.logout {
    color: red;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 999;
}


.hamburger span {
    transition: 0.3s;
}

.hamburger:hover span {
    background: #d8cbb5;
}

#overlay.active {
    display: block;
}
.profile-section {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.menu-item {
    padding: 10px 0;
    cursor: pointer;
}

.logout {
    color: red;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 22px;
    height: 2px;
    background: rgb(0, 0, 0); /* change to black if needed */
    display: block;
}