body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

/* TOP BANNER */
.login-banner {
    position: relative;
}

.login-banner img {
    width: 100%;
    height: 400px;
    padding-bottom: 50px;
    object-fit: cover;
}

/* BACK BUTTON */
.back-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* CARD */
.login-card {
    background: white;
    margin-top: -40px;
    border-radius: 25px 25px 0 0;
    padding: 20px;
}

/* TEXT */
.login-card h2 {
    margin: 0;
}

.subtitle {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

/* PHONE BOX */
.phone-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    gap: 10px;
}

.phone-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
}

/* BUTTON */
.continue-btn {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    background: #ccc;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* OTP */
#otpSection input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

/* DIVIDER */
.divider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.divider span {
    flex: 1;
    height: 1px;
    background: #ddd;
}

/* SOCIAL */
.social-login {
    display: flex;
    gap: 10px;
}

.social-login button {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

/* TERMS */
.terms {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.login-card {
    background: white;
    margin-top: -40px;
    border-radius: 25px 25px 0 0;
    padding: 20px 40px;
    text-align: center;
}

/* INPUTS */
.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}



#phoneSection{
    background-color: #f2f2f2;
}

/* BUTTON */
#mainBtn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: #5a5048;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* TOGGLE TEXT */
.toggle-text {
    margin-top: 15px;
    font-size: 14px;
}

.toggle-text span {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
}