body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0px;
}

.product-container {
    margin: 20px;
}

.container {
    max-width: 420px;
    margin: auto;
    background: white;
    padding: 15px;
}

.back {
    color: #777;
    font-size: 14px;
    text-decoration: none;
}

.product-image img {
    width: 100%;
    border-radius: 5px;
}

.dots {
    text-align: center;
    margin: 10px 0;
}

.dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%;
    margin: 3px;
}

.dots .active {
    background: #444;
}

.sku {
    color: #888;
    font-size: 13px;
}

.price {
    margin: 10px 0;
}

.old {
    text-decoration: line-through;
    color: #888;
    margin-right: 10px;
}

.new {
    font-weight: bold;
    font-size: 18px;
}

.color-section {
    margin: 15px 0;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e1b400;
    border: 2px solid #444;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.qty-box button {
    width: 35px;
    height: 35px;
    font-size: 18px;
}

.qty-box input {
    width: 40px;
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.cart {
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.buy {
    width: 100%;
    padding: 12px;
    background: #4b423e;
    color: white;
    border: none;
}

.description,
.policy,
.delivery {
    margin-top: 25px;
}

ul {
    padding-left: 18px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}



/* FOOTER */

footer {
    background: #d8cbb5;
    padding: 40px;
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 15px;
    font-size: 18px;
}



/* TOP BAR */

.top-bar {
    text-align: center;
    padding: 10px;
    background: #d8cbb5;
    font-size: 14px;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.logo {
    font-size: 22px;
    font-weight: 500;
}

.left-icons i,
.right-icons i {
    margin: 0 8px;
    cursor: pointer;
}

/* HERO TEXT */

.hero-text {
    position: absolute;
    bottom: 40px;
    right: 20px;
    font-size: 30px;
}

.dots {
    text-align: center;
    margin: 15px 0;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 5px;
    background: #ccc;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: #333;
}



.product-image {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.4s ease;
}

.slider img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
}